.background {
  background-color: rgba(255, 255, 255, 0.05);
  height: 160px;
  width: 160px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}

.background:nth-of-type(2) {
  height: 220px;
  width: 220px;
}

.background:nth-of-type(3) {
  height: 300px;
  width: 300px;
}
