.container {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -10px 0px -5px rgba(0, 0, 0, 0.15);
  position: relative;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.imageContainer{
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 10px 0px -5px rgba(0, 0, 0, 0.15);
}


.scissors {
  background: linear-gradient(
      to bottom,
      var(--scissors-gradient-start),
      var(--scissors-gradient-end)
    )
    no-repeat;
}

.paper {
  background: linear-gradient(
      to bottom,
      var(--paper-gradient-start),
      var(--paper-gradient-end)
    )
    no-repeat;
}

.rock {
  background: linear-gradient(
      to bottom,
      var(--rock-gradient-start),
      var(--rock-gradient-end)
    )
    no-repeat;
}

.lizard {
  background: linear-gradient(
      to bottom,
      var(--lizard-gradient-start),
      var(--lizard-gradient-end)
    )
    no-repeat;
}

.cyan {
  background: linear-gradient(to bottom, var(--cyan-start), var(--cyan-end))
    no-repeat;
}
