.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 29%;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.choiceText {
  color: white;
  font-size: 20px;
  font-weight: var(--font-weight-semi-bold);
}

.choicePlaceholder {
  width: 75%;
  height: 75%;
  border-radius: 100px;
  background-color: var(--choice-placeholder-background);
}

@media (min-width: 575px) {
  .container {
    height: 70%;
    width: 60%;
    margin: auto;
  }

  .choicePlaceholder {
    width: 320px;
    height: 320px;
    border-radius: 100%;
  }

  .choice {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .choiceText {
    font-size: 36px;
  }

  .choiceContainer {
    width: 400px;
    height: 400px;
  }
}
